[2016-11-14 15:44] difrnt opened #1 "Create a NuGet Package"
Might want to create a NuGet package to help satisfy the lazy/efficient developer. 😄

[2016-11-15 02:22] lolp1 commented on #1
I love how you called it both lazy and efficient in the same sentence! I understand the desire for a NuGet package, however I am currently working on finishing unit test, and support for detouring directx. At that point I shall start publishing the NuGet package when I commit to the main branch.

Hope to have it going in the next couple of weeks :)

[2016-11-21 01:05] lolp1 commented on #1
https://www.nuget.org/packages/Overlay.NET/

Please report issues. I am new to NuGet but if you want to use D3D functionality you might need to add the following packages in addition to the Overlay.NET package to use D3D overlay (not sure..).

SharpDX
SharpDXDirect2D1
SharpDXDXGI
Process.NET

[2016-12-06 20:52] lolp1 commented on #1
Closing for now.

[2016-12-06 20:52] #1 closed

[2016-12-14 15:16] Traderain opened #2 "Add Shared process"
So we can modify the ui of games and such

[2016-12-14 17:46] Traderain opened #3 "BUG DirectX Overlay showing when window is not focused"

[2016-12-15 04:28] lolp1 commented on #3
Confirmed bug, will look to fixing it in the next day or so.

[2016-12-19 12:11] Traderain commented on #3
When can this be expected to fixed?

[2016-12-23 19:48] lolp1 commented on #3
@Traderain

The bug is now fixed in the demo. Build the .sln and you should be set.

[2016-12-23 19:48] Traderain commented on #3
Thank you

[2016-12-23 19:50] lolp1 commented on #3
@Traderain
No problem. Please feel free to report any more bugs or if this bug is not fixed for you.

[2016-12-23 19:53] lolp1 commented on #2
@Traderain
Hi,

Since time is limited, I am considering making this feature very user-friendly and offer the extra features library as a small license fee.

At the very least, soon there will be support to detour endscene or present, but the rest of the work in this version might be left up to the user, this I have not decided yet.

Let me know specifically what features you want from this and why

[2016-12-23 21:33] Traderain commented on #3
![image](https://i.gyazo.com/91ff74a634b8853ccc30ca19c54a5610.gif)

[2016-12-23 22:54] lolp1 commented on #3
@Traderain
Can you please try cleaning, then rebuilding the soultion, then placing ../debug contents from Overlay.NETs debug folder inside of the demos debug folder, then ensure one note pad is open only, and try again.

[2016-12-24 12:01] Traderain commented on #3
@lolp1 Did that still the same result

[2016-12-24 14:00] lolp1 commented on #3
Seems to be working for me on the latest build.

https://www.youtube.com/watch?v=8Vv4s_ndV2Y&feature=youtu.be

[2016-12-24 16:05] Traderain commented on #3
Thats exactly what I did. I will try to troubleshoot it and report here if I can fix it so others know about it.

[2016-12-25 11:38] lolp1 commented on #3
@Traderain
Do you use x86 or x64 based pc?

[2016-12-25 20:55] Traderain commented on #3
x64

[2016-12-25 21:19] lolp1 commented on #3
@Traderain
Can you please try either 1. Compile with the option "prefer 32 bit" or 2. Try the overlay on a process you can ensure is a x64 process. I'd go with 1 and try it on notepad, as it is a x86 process despite the OS being x64 you use.

It is possible that is an issue with my Process.NET library not reading the window status correctly in a 32 bit process on a x64 OS if 32 bit is not preferre

[2016-12-26 17:15] Traderain commented on #3
@lolp1 Tried it on my laptop which is Winows 10 and it works perfectly. Here is a snapshot of the details of my PC so you can troubleshoot the issue better.
![image](https://cloud.githubusercontent.com/assets/6411732/21484706/519c88a2-cb97-11e6-901d-0747edff9e4d.png)

[2016-12-26 19:08] lolp1 commented on #3
Thanks for the report I'll look into it. The project was built with the latest libraries and .net frameworks in the latest visual studio, so it is possible there are some bugs in windows 7 I need to track down. I'll see what I can find.

[2016-12-29 13:14] Trxplz0 opened #4 "WPF Overlay not able to receive events?"
Hi,

I was trying to render a WPF user control in WPF overlay, it's rendering all controls but they won't be able to accept events like "CLICK" even with TopMost enabled.

This is how I'm setting the content:

`wpfOverlay.OverlayWindow.Content = new MyUserControl();`

![image](https://cloud.githubusercontent.com/assets/8323043/21544625/8257eaf8-cdaf-11e6-9437-7046a40974a7.png)

[2016-12-29 15:53] lolp1 commented on #4
Have you tried adding the controls directly to the WPF overlay? As in wpfOverlay.Children.Add ...?

[2016-12-29 17:39] Trxplz0 commented on #4
Yes, it didn't work either.

[2016-12-29 17:57] lolp1 commented on #4
My guess is because this is used on the wpf window https://github.com/lolp1/Overlay.NET/blob/master/src/Overlay.NET/Common/WindowExtensions.cs#L13 to allow graphics drawn on the canvas to be click-through. Reason described here https://github.com/lolp1/Overlay.NET/blob/master/src/Overlay.NET/Wpf/OverlayWindow.xaml.cs#L46

You can try a couple things.

1. Track the mouse click events how ever way y

[2016-12-29 18:16] Trxplz0 commented on #4
I was looking at the code and already tried a lot of ways, I didn't figure it out yet, but disabling the MakeTransparent makes the overlay to flickering until I close the Overlay.NET. I notice during the flickering it focus the hooked application and then switches the focus to Overlay.NET console window in a loop and still until I close.

Maybe, in the end, i will have to choose option 1.

It chan

[2016-12-29 18:54] lolp1 commented on #4
@Trxplz0

The issue appears to be something like this (though I am currently trying to figure out what to do about it): If the overlay wants to render graphics, in order to prevent disruption of the window it is linked to, all things will should, imo,  be click through.

Otherwise, you end up with some one drawing graphics, for example, drawing some text to the screen of the last 3 messages from a

[2017-01-04 21:04] Traderain commented on #3
Have you managed to come up with a fix? Sadly I can't switch my project's overlay library until this is fixed because I have many win7 users.

[2017-01-09 09:00] toomtoomcheck commented on #3
Hi,

Same issue here, If you reduce the windows it works perfectly, but if you switch windows without reducing it, it's still showing me overlay.

Regards

[2017-01-11 10:56] Traderain commented on #2
@lolp1 I would gladly pay for it. I am currently making an program wich has an overlay feature for source engine and goldsource engine games and it would be extremely usefull if I could use the same directx device the game is using and draw into the game's ui (I hope that makes sense).

[2017-01-17 17:01] lolp1 commented on #4
Small update, my free time is back again for at least a few weeks or a lot longer possibly (done helping my GF with her business website/app now) also family from Christmas/new years is back home. Will look in go this issue further today and let you know what I find.

[2017-01-17 17:02] lolp1 commented on #3
@Traderain @toomtoomcheck  Free time is on my side for a while (hopefully a long while!). I will be looking into the issue today and trying to fix. I will update my findings soon here.

[2017-01-17 17:04] lolp1 commented on #2
@Traderain Please contact me via email (JacobKemple@outlook.com) or skype (same as my email) to talk further to see if I can meet your needs in a way that makes sense for us both.

[2017-01-17 19:40] Trxplz0 commented on #4
I'm looking into either and let you know what I find.

Thanks for helping!

[2017-02-18 21:08] factormystic opened #5 "Misalignment of overlay with high dpi"
I was only able to get the WPF demo working, but that demonstrates the problem. Moving or resizing the window, the corresponding adjustment of the overlay is off by (apparently) the dpi scale factor.

[2017-02-18 22:33] abratar opened #6 "Overlay not drawing in fullscreen mode"
So the game im using is csgo and im using the directx version and everything works fine in windowed mode. smooth af. but when i switch to fullscreen nothing is showing. if i switch back to windows then it draws again... what can the problem be here? or is the only way to play the game in fullscreen windowed? i hope i get an answer if this project is still alive :D

[2017-02-18 23:05] abratar commented on #5
you mean the dpi of your screen or your mouse? for me it looks right

[2017-02-18 23:07] lolp1 commented on #6
There is no way to use this overlay in true fullscreen mode as far as I know. If some one knows a way to get that to work I will implement it. To be honest I can not think of a single reason to run anything but full screen windowed.

[2017-02-18 23:09] lolp1 commented on #5
I need more details. The full code used for the overlay that produces the bug and circumstances that it happens in. Otherwise I can not reproduce it and fix it on my end because I do not have this issue.

[2017-02-18 23:28] abratar commented on #6
hmm, i guess the only thing would be to use the game's directx. thanks anyways

[2017-02-19 00:16] lolp1 commented on #6
Can you explain why you need to use full screen versus window full screen? What benefits does it provide over windowed full screen?

[2017-02-19 00:29] abratar commented on #6
for me its just the color and the framerate is different. in windowed fullscreen it uses my windows color settings and in fullscreen it uses my ingame + screen color settings.

[2017-02-19 00:43] factormystic commented on #5
Screen DPI. Here's an example screencap at 150%. When I drag notepad, the overlay is translating more than the window is actually moving. I'm not talking about the jitter, I think that may be due in part to my screencap software. I'm just talking about how the alignment is different when I move notepad.

![](https://thumbs.gfycat.com/DaringGrouchyCivet-size_restricted.gif)

[2017-02-19 17:13] shatterr opened #7 "High CPU usage"
Hi, love the library - however when drawing just one text line over an application nothing else it uses around 30% CPU, is this normal or is something wrong!?

[2017-02-19 20:06] Traderain commented on #2
Contacted

[2017-02-20 11:31] mattukdev opened #8 "Redrawing the WPF overlay"
I am trying to create an overlay using WPF and a simple bitmap image. I am able to draw the bitmap image and have done so by using the examples in both the Draw event and the SetUp(); function.

However, I want to be able to update this image and redraw it on the overlay.

I have tried to execute SetUp(); with a new image but cannot seem to get rid of the old image. I have tried using the OverlayW

[2017-02-20 17:01] lolp1 commented on #7
Using WPF or directx? Depending on your update rate and computer specs 30% does not sound impossible, but that seems extremely high to me.

[2017-02-20 18:50] factormystic commented on #5
It's not, the lag is an artifact of the screen capture. Just look at whats happening in each corner. Here's a comparison:

![corner2](https://cloud.githubusercontent.com/assets/43428/23138092/7acc8116-f773-11e6-8e08-2b3706410411.jpg)

![corner1](https://cloud.githubusercontent.com/assets/43428/23138098/7ebf2a1c-f773-11e6-9b5c-0a83567e88f3.jpg)

[2017-02-21 11:07] mattukdev commented on #3
I also have this same issue on win 7 x64.

[2017-02-21 11:47] Traderain commented on #6
Also the thing you have to understand is we are making something for users and you have to be prepared for every usecase. So for example not supporting fullscreen may make someone's 10% of costumer base unhappy.

[2017-02-21 15:48] shatterr commented on #7
Using DirectX, set to 20fps --> have a pretty powerful PC so that's why it was suprising to me

[2017-02-22 18:26] MakariAeron commented on #3
I've got the same problem too with Win7, Nvidia Quadro card here. I think it's something to do with how Win7 shows things. It's a shame because Win7 is still so widely used. I guess I'll stick with WPF for now.

[2017-03-17 08:10] lolp1 commented on #4
I have found a way to sort of work around this. What you do is remove this line: https://github.com/lolp1/Overlay.NET/blob/master/src/Overlay.NET/Wpf/OverlayWindow.xaml.cs#L50

Then here is where the work around comes in. The issue is once you remove the transparent flag, when you click the shape, it will gain focus no matter what you do. The way to work around this is to set the window it is over

[2017-03-17 08:15] lolp1 commented on #3
As far as I can tell, this bug does not exist in windows 10 and the only windows 7 device I have access to can not reproduce it. I am going to close the issue for now (as I am going through and cleaning them up) as I only intend to support windows 10+ from this point on.

However, this does not mean I am not interested in fixing the bug. If it still exist on the latest version just committed, and

[2017-03-17 08:15] #3 closed

[2017-03-17 08:25] lolp1 commented on #5
I have had no other reports of the described issue, and have been unable to reproduce the issue testing it on both x86 and x64 windows 10 platforms in various processes using the demo.

For this reason, I am going to close the issue for now. I did just recently update the project, so feel free to try again and if the issue still persist reopen the issue with more information if possible. Windows v

[2017-03-17 08:25] #5 closed

[2017-03-17 08:26] lolp1 commented on #2
Please re-send the email to JacobKemple@outlook.com and include your GitHub name, thanks!

[2017-03-17 08:26] #2 closed

[2017-03-17 08:30] lolp1 commented on #8
Have you tried just storing a reference to the Rectangle and changing the 'Fill' with the new value? You may also try actually removing the item from the Children property in the overlay window and adding the new one on a new frame. Inefficient but should work.

[2017-03-17 08:39] lolp1 commented on #6
@Traderain I think it is pretty clear in a for-profit business situation, something like no support for full-screen could make some customers unhappy.

This is however, is a free project supported on my spare time. In my ideal world I would love to support full-screen and make everyone happy. Sadly, I have to prioritize what I can do in this project. As far as I can tell, on modern computers which

[2017-03-17 08:39] #6 closed

[2017-03-17 09:12] lolp1 commented on #7
Hello,

I have found the cause of cpu use being so high in the demo.

https://github.com/lolp1/Overlay.NET/blob/master/src/Overlay.NET.Demo/Wpf/WpfOverlayExampleDemo.cs#L86

Simply put, the update method is called with no Thread.Sleep so it consumes a lot of resources. Creating the WPF window in its own separate STA thread and calling the update with a Thread.Sleep(1) will reduce CPU usage from 25

[2017-03-17 09:12] #7 closed

[2017-03-22 19:32] ArtyomIsFlash opened #9 "Some kind of tutorials required"
Demo isn't that easy to understand, so... and tutorials? Because wiki doesn't work

[2017-03-22 23:17] Traderain commented on #9
http://stylesoftware.net/Overlay.NET/Overlay.NET.Demo.mp4

[2017-03-23 00:04] lolp1 commented on #9
The demo is really as simple as you can get. It is a basic, working, compilable implementation of using both WPF and DirectX overlay plugins.

Can you specify what is confusing about it?

[2017-03-23 00:07] lolp1 commented on #4
I re-opened this because I think there is another way a friend told me about. I am going to try hooking WndProc and ignoring WM_FOCUS messages from the window.

[2017-03-24 09:04] ArtyomIsFlash commented on #9
It's about WPF only. I want to create an overlay for Need for Speed: Most Wanted 2005 using NFSScript and Overlay.NET

[2017-03-24 10:10] #9 closed

[2017-03-26 20:10] xNarkon opened #10 "Directx text is a little blurred?"
Hello I found a little problem, text in overlay using Directx is a little blurred, is there any way to fix it?

`_font = OverlayWindow.Graphics.CreateFont("Verdana", 10, true);
OverlayWindow.Graphics.DrawText("Text", _font, OverlayWindow.Graphics.CreateBrush(Color.White), 10, 60);

Screen:
http://screenshot.sh/odAszhlgOyu7f

On every font size it's just a little blurred even with Arial, Tahoma etc

[2017-03-28 13:21] YSXrus opened #11 "Overlay in fullscreen apps"
Is it possible to draw overlay in fullscreen games? I've looked at the demo, and seems like it can't.

[2017-03-28 14:37] lolp1 commented on #11
For external overlays, rendering over a full screen application is simply not possible in any circumstance. This is sadly not even a limitation of this library, it is a limitation to any external overlay.

I have internal overlay support but I am considering how much of that to implement into this library currently. I am considering doing a small license fee version of this lib with much more user

[2017-03-30 07:18] lufthavn commented on #11
We're in a situation where we're gonna need this functionality soon. If you can provide a version of this lib with easy-to-use internal rendering and user support, we would gladly pay for it. 😄

[2017-05-07 13:20] weltmeyer opened #12 "Not working after creators update"
Hi,
the directX overlay is not working after the windows 10 creators update, even the demo with notepad is not showing anything on the app

[2017-05-07 14:20] weltmeyer commented on #12
Some ugly working version:

in DirectXOverlayWindow.cs:
[code]

OverlayFormClass;

[code]

[2017-05-09 13:48] lolp1 commented on #12
Any idea the cause?

[2017-05-09 14:08] weltmeyer commented on #12
Yeah it seems like it is with the Color.Transparent...

If i set the backcolor of my form1 to Color.Transparent  and the
this.TransparencyKey = System.Drawing.Color.Transparent;

then it is the same way invisible :(

With my solution, i am loosing the transparent/alpha channel as it is calculated against black instead of the pixels of the overlayed app.

Seems like this guy has a similar problem:

[2017-05-09 14:15] lolp1 commented on #12
Interesting, I ask because recently we have had a bug in another overlay where for some users it produces a black screen, for others, it works fine. Did the example you posted above actually work? The "Some ugly working version:"?

[2017-05-09 14:31] weltmeyer commented on #12
Yes, thats what i am using currently.. just the alpha channel from brushes is not working correctly anymore.

[2017-05-12 18:16] inorton opened #13 "Does this have a License"
Hiya,

I've picked this up and have been very impressed with how easy and fast it has been for me. I'd really like to bundle a build of this with one of my open source projects - https://github.com/inorton/EDMCOverlay (my audience are not people who have compilers on hand).  What license should I assume this is for?

Thanks, Ian

[2017-05-13 18:20] lolp1 commented on #13
In its current form, MIT license applies and for that you have my word. Later versions may be monetized due to the effort that was needed to implement things such as directly using games devices to render directx content via detours etc.

This version is free to drag and drop into your code, while I would prefer credits, even that is not needed. Enjoy.

[2017-05-14 17:24] inorton commented on #13
Many thanks 👍 :)

[2017-05-14 17:24] #13 closed

[2017-05-17 06:59] inorton commented on #11
I had just found I wanted this, but luckily Elite:Dangerous has a Borderless-window full-screen mode which works fine

[2017-05-17 16:18] lolp1 commented on #11
@lufthavn Small update.. roughly three weeks out from version I intend to do on a license system -- that supports D3D9/D3D11for both x86 and x64 with a single base class. While it provides the user accsess to render content directly in EndScene/Present via their own d3d code, it also will have some basic wrappers for standard shapes/text/filing of shapes built in that will take no d3d experience.

[2017-05-21 08:57] lufthavn commented on #11
@lolp1 That sounds awesome, when you feel you're ready, feel free to contact me at tobiaskastrupandersen@gmail.com, and we can chat about how to do this. 😄
I'll be very busy the coming weeks, so please bear with me if I don't respond right away. 😄

[2017-05-27 07:35] inorton commented on #12
Guess what? I just rebooted after the creators update and have hit this :)

[2017-05-27 07:47] inorton commented on #12
@weltmeyer your little hack above made no difference for me. I'm overlaying a DirectX11 app.

[2017-05-27 14:19] inorton commented on #12
Ok.. now that is a little odd.. it works now after a reboot

[2017-05-29 13:24] inorton commented on #12
And stopped working again (not even rebuilt app)..

[2017-05-29 21:38] lolp1 commented on #12
@inorton Are you running any other overlays such as discord or some graphics settings software?

[2017-05-29 22:59] inorton commented on #12
Hi @lolp1 turns out my "breakages" were actually my-fault.  The hack is working for me (at least as well as the non-hack before the creators update).

I am however having quite frequent crashes when switching windows (except of course when the debugger is attached) I'll open a bug when I have a concrete way of reproducing it

[2017-05-30 06:01] I-M-I commented on #12
The SharpDx overlay isn't working for me on the fall creators update, yatodev also acknowledged it's because of that update, can't find a solution yet.

[2017-05-30 17:47] lolp1 commented on #12
@I-M-I The answer is posted by @weltmeyer seems to work for me.

@inorton Could you show me (or skype me if you wish to not share code publicly at JacobKemple@outlook.com) your render loop or give some more context about your application? Because crashing while switching windows often could be an issue directly related to Process.NET

[2017-05-31 22:30] inorton commented on #12
Sure, @lolp1 https://github.com/inorton/EDMCOverlay/blob/master/EDMCOverlay/EDMCOverlay/OverlayController.cs#L128

[2017-06-03 12:30] fjdumont commented on #12
I was curious about this and tried an old overlay I was using. To my surprise, it still seemed to work. Maybe this helps..?
The most impactful difference probably is:

I am using `SetWindowLong` and `SetLayeredWindowAttributes` instead of `UpdateLayeredWindow`:

    WinApi.SetWindowLong(Handle, GWL_EXSTYLE, (IntPtr) (WinApi.GetWindowLong(Handle, GWL_EXSTYLE) | WS_EX_LAYERED | WS_EX_TRANSPARENT));

[2017-06-04 09:12] inorton commented on #12
@lolp1 I think my mysterious crashes are due to me not running on the main thread properly.

[2017-06-10 00:15] njbrown09 opened #14 "DirectX not drawing on some computers"
DirectX overlays arent drawing on some computers

[2017-06-10 08:50] lolp1 commented on #12
@inorton I got confused in the conversation and edited your reply.. instead of just make a new one. So here it was

"@inorton Ensure you use the dispatcher for the main UI thread for any operations."

and

@fjdumont

When you say the most impact, do you mean one works and one doesn't?

[2017-06-10 08:52] lolp1 commented on #14
https://github.com/lolp1/Overlay.NET/issues/12

Review comments here (a fix is provided). I will close the close the issue once its fixed in the lib its self. A little busy so would love for some one to make pull request with the mentioned changes and a basic test, but short of that or getting spare time and motivation that is looking a week or two down the road.

[2017-06-12 06:13] njbrown09 commented on #12
how do i apply this fix?

[2017-06-12 08:25] hashcoin-project commented on #12
Never mind I figured it out, but it is very glitchy. It flashes really fast, freezes and crashes

[2017-06-14 06:27] lolp1 commented on #12
@njbrown09
Refer to @weltmeyer code in the second reply. Change the relevant code in Overlay.NET to his.

@hashcoin-project
It should not be flashing at all or freezing or crashing.. please share your code in which this happens via gisthub or github project if it exist, or email it to me if you wish it to be private at jacobkemple@outlook.com just make sure to tag me here saying you did it in an e

[2017-06-15 19:56] bestplay9384 commented on #12
Is there any chance this will be resolved? I just tried code from second comment here, compiled new Overlay.NET dll and included it into DEMO - its really buggy, what is more its making new window ;/

[2017-06-18 19:26] njbrown09 commented on #12
yeah, the fix really dosent work

[2017-06-18 19:38] njbrown09 commented on #12
@lolp1 i applied the fix, it flickers and crashes a LOT. I cant go more than 30 seconds without it glitching out

[2017-06-18 22:01] njbrown09 commented on #12
whats weird is that it also dosent work on my windows 7 machine. My home windows 10 machine it works on, but my friends windows 10 (latest update) machine it dosent work on, but it also dosent work on my windows 7 computer

[2017-06-20 03:28] njbrown09 commented on #12
anyone able to fix this? or at least point me to a way to externally draw an overlay with directx

[2017-06-20 11:51] bestplay9384 opened #15 "Features update"
Hey,

@lolp1 you have written in repo readme that you're planning "Soon: Shared process, or 'in-process' directX engine to use the games directx device instead." feature. Any info when it will be added? Or can we help in any way with that? :)

[2017-06-25 11:00] bestplay9384 opened #16 "WpfOverlay not rendering in loop?"
Hey,

I'm not sure, probably i'm doing something wrong, but in your WPF Demo app overriden function Draw on OverlayWindow is being executed only once for me. And on initialize everything is flickering until i touch something from overlay with my mouse. Is it normal behaviour? What i would like to do is to draw and clear the WPF Overlay in while(true) loop. Thanks for help in advance :)

[2017-06-25 19:17] lolp1 commented on #16
Any chance you have xbox DVR enabled?

[2017-06-29 06:59] inorton commented on #12
@njbrown09 I have it working reliably with a alternative method but it does flicker a bit https://github.com/inorton/EDMCOverlay

[2017-07-12 20:37] ThorConzales commented on #16
I have the same problem and I did disable Xbox DVR but still have the same issue. I assume the OnDraw event should be called continuously and text you would like to update should be updated inside that method but currently it is only called few times in the beginning and then it stops. If I'm wrong then what is the correct way of updating a text on the screen?

[2017-07-13 21:47] ThorConzales commented on #16
It seems to be WPF specific problem why it is not rendering in loop. I did recreate my own simple WPF project with transparent window and there everything seems to work. As for the flickering then it is caused by getting invalid signal whether the window is focused or not. I do recommend trying it out in release build and seeing if it is still flickering.

[2017-12-18 18:51] sewer56lol commented on #12
Adding in to this conversation, I on my laptop with Intel graphics and another user of a mod loader I've been working on have hit this after not the Creators but the Fall Creators Update (1709).

The code for the external overlay is very similar to this project and relies of setting window extended flags as WS_EX_LAYERED and WS_EX_TRANSPARENT followed by the use of SetLayeredWindowAttributes to LW

[2017-12-18 19:30] inorton commented on #12
Try as I might I could not get alpha blending to work, so Overlay.NET is setup to use black as a mask colour (any black pixels are transparent).

[2017-12-20 06:20] lolp1 commented on #12
Will look into it shortly.

[2017-12-20 09:51] sewer56lol commented on #12
I should also perhaps mention.

I've also tested things with Insider Preview build 17035 (wasn't getting any newer builds) and now having WS_EX_LAYERED as an extended window style also causes my own overlay to fail to stay topmost of other windows (TopMost is set via changing the WinForm property in C#, not natively). This is of course in addition to lack of transparency and hit testing (although

[2018-03-06 08:48] larsbloch commented on #8
I have the same issue. The overlay.Update is called many times, but the redraw function is only called once (or actually a couple of times) in the beginning.
I tried changing "click me" to datetime.now.seconds.tostring() but it just stays the same.

[2018-04-07 18:24] chinye2020 opened #18 "I would like to purchase fullscreen overlap? how to contact you?"
I would like to purchase fullscreen overlap? how to contact you?

[2018-08-27 08:32] sewer56lol commented on #12
I would not have thought that out of all threads; this one would have come back.

I actually managed to get D2D working over a WPF overlay since that time; and actually built a few overlays into a Mod Loader/Hacking Library of mine (Reloaded-Mod-Loader/Reloaded-Overlay). This sounds very interesting nonetheless.

Since I think my laptop still exhibits this - I might try installing Win10 on it and

[2018-08-27 11:18] inorton commented on #12
I too went with a different implementation over at https://github.com/inorton/EDMCOverlay feel free to borrow bits of code according to the license :)

[2018-10-16 07:28] xaviermonin commented on #12
Hi,

I'm working on the problem. I have write 2 simple programs in C++ and C# that does exactly same think. They draw a red alpha semi transparent line.
The both works.

What I know now :
- We can't use `SetLayeredWindowAttributes` and `UpdateLayeredWindow` in same time.
- `CreateWindowEx` with `WS_EX_LAYERED` doesn't work. We must use `SetWindowLongPtr` with this param just after the window creat

[2018-10-16 07:41] fjdumont commented on #12
Hey, sorry for the late response. This is really simple, but seems to work for me without any problems:

[code]

However, I was not able to reposition the D3D device for bordered windows properly, so I'm currently reinstantiating the device.
Hope that helps.

[2018-10-16 15:54] xaviermonin commented on #12
Yes, cause `SetLayeredWindowAttributes` and `UpdateLayeredWindow` can't be used in same time. Msdn say `Note that once SetLayeredWindowAttributes has been called for a layered window, subsequent UpdateLayeredWindow calls will fail until the layering style bit is cleared and set again.` Link:  https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-setlayeredwindowattributes#remarks

[2018-11-10 20:34] lolp1 commented on #4
Fixing this soon.

[2018-11-10 20:34] #4 closed

[2018-11-10 20:35] lolp1 commented on #8
Fixing this soon as well as the ability to get events.

[2018-11-10 20:35] #8 closed

[2018-11-10 20:35] lolp1 commented on #14
This was recently fixed.

[2018-11-10 20:35] #14 closed

[2018-11-10 20:36] lolp1 commented on #10
I am unsure of a way to fix this issue and have no way to reproduce it and do not intend to fix it personally, sorry about that. If anyone decides to figure it out or you do make a pull request please :-)

[2018-11-10 20:36] #10 closed

[2018-11-10 20:36] lolp1 commented on #11
@xaviermonin @inorton @lufthavn  Working on it again now. Will update soon.

[2018-11-10 20:36] #11 closed

[2018-11-10 20:37] lolp1 commented on #12
@xaviermonin fixed it.

[2018-11-10 20:37] #12 closed

[2018-11-10 20:37] lolp1 commented on #15
@bestplay9384 likely a few weeks away and more likely such feature is a licensed version.

[2018-11-10 20:37] #15 closed

[2018-11-10 20:37] lolp1 commented on #16
Fixing this + events soon.

[2018-11-10 20:37] #16 closed

[2018-11-10 20:38] lolp1 commented on #18
@chinye2020 jacobkemple@outlook.com

[2018-11-10 20:38] #18 closed

[2018-11-20 19:53] Trxplz0 commented on #4
Nice to hear, thanks you!

[2018-11-23 03:49] lolp1 commented on #4
@Trxplz0 Still intend to fix.. sorry for delay.

[2018-11-30 16:16] xcxooxl commented on #4
@lolp1 Waiting for this too.. This library is awesome !

[2018-12-07 06:53] CorrM opened #20 "Bad Brushes"
i just cant create brush for all colors expect the MAIN COLORS
like red blue green yellow
try this
`int Brush = OverlayWindow.Graphics.CreateBrush(0xFFD700);`

it's gold color will not work

[2018-12-08 15:36] Rozzemak opened #21 "Window dpi > 96 positioning"
Issue is still here, and if you don´t have monitor with dpi > 96, there is no chance for you to replicate it. Changing resolution won´t do much good here.
So quick fix in OverlayWindow:
members
[code]
methods
[code]
edit: even width & height has to be corrected.

[2018-12-08 18:48] Rozzemak commented on #21
So, i tested it now, and this fix indeed works. I had to clone your repo. (Resharper decompiler is must have for .NET... allowed me to see library code without having open git) PDB is nice thing  :) .

[2018-12-10 08:42] lolp1 commented on #21
Please make a pull request with changes if you could.

[2018-12-12 14:56] thgiang opened #22 "DirectX not drawing on my computers"
I read some other issue but author closed it. The issue still occurs on my computer Window 7
I tried to use Overlay.NET.Demo and WPF work but DirectX overlay not show anything.

My computer is:
![image](https://user-images.githubusercontent.com/9299251/49877810-1f282a00-fe1e-11e8-8ffb-4131b8491e15.png)

DirectX 11 - NVDIA GeForce GTX 960

[2018-12-19 11:20] CorrM commented on #22
i think u must start with that
https://www.technorms.com/5094/windows-7-aero

[2018-12-19 17:15] thgiang commented on #22
Ok I find out. Problem is Win 7 disable Transparent key. Copy this text and save to abc.reg file. Run it.

Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\Microsoft\Windows\DWM]
"ColorizationOpaqueBlend"=dword:00000000

[2018-12-28 04:19] lolp1 commented on #22
Perhaps if I detect windows 7, I can make a big bold message box pop up asking if they want to disable that in order for it to work and offer a popup to re-enable it.

[2018-12-28 04:20] #22 closed

[2018-12-28 04:25] lolp1 opened #23 "Windows 7 issue with transparency registery"
Thanks to @thgiang he found an issue and a fix, here https://github.com/lolp1/Overlay.NET/issues/22 however..

The fix deals with registry editing. The best idea I can come up with is to do one of two things, both which would happen after I check for windows 7 and the registry key being set to the values that cause issues.

1. Prompt the user via message box about the issue and offer a one click f

[2018-12-29 19:31] lolp1 commented on #21
@Rozzemak Closing this for now as I do not intend to fix it my self, please do a pull request if you would like to contribute though.

[2018-12-29 19:31] #21 closed

[2018-12-29 19:35] lolp1 commented on #20
That is not an issue with the library. You must create the color correctly.
[code]

[2018-12-29 19:35] #20 closed

[2019-01-23 01:53] TylerBurnett opened #24 "Nuget package is not up to date with current Demo"

[2019-01-25 08:04] rlaehgns5399 opened #25 "Bug when i use second monitor"
this is worked well,
![image](https://user-images.githubusercontent.com/26527826/51732744-92ca8180-20c2-11e9-9734-293ebb907fbb.png)

but when I move the notepad to second monitor,
![image](https://user-images.githubusercontent.com/26527826/51732781-b1307d00-20c2-11e9-8d9e-95226cb71ec9.png)

I think this is occurred because of its coordinate

[2019-05-11 22:02] mbastiek opened #26 "maybe nevertheless a color-bug?"
Hi!
Related to
https://github.com/lolp1/Overlay.NET/issues/20

I had to change in
Direct2DRenderer.cs
public int CreateBrush
from
new RawColor4((color >> 16) & 255L, (color >> 8) & 255L, (byte) color & 255L, (color >> 24) & 255L)));
to
new RawColor4(((color >> 16) & 255L ) / 255.0f, ((color >> 8) & 255L) / 255.0f, ( color & 255L) / 255.0f, ((color >> 24) & 255L) / 255.0f)));

and

_brushContainer.

[2019-07-29 18:12] slow-down commented on #25
1. Is you second monitor on the right/left/bottom/top?
2. What are the resolution on both monitors? Are they the same?

[2019-09-22 05:48] doivosevic commented on #24
I'm not sure what you are referencing to but I tried using the demo with the nuget package and what I'm missing is the OverlayWindow.Update()
@lolp1 what is the fix?

[2019-09-25 09:11] slauko commented on #24
same .Update() is missing somehow

[2020-04-26 23:15] erfg12 opened #27 "Imaging"
Also need methods for doing on screen images.

[2020-04-30 09:52] lolp1 commented on #27
The WPF one should easily support that using an image box container or any other valid method to render images in WPF.

[2020-05-14 19:08] erfg12 commented on #27
Wanted it for DirectX purposes. Here's my function I added in case anyone wants to do the same: https://github.com/erfg12/Blizzard_Controller_Support/blob/master/Overlay.NET/Directx/Direct2DRenderer.cs#L195

[2020-05-14 22:52] lolp1 commented on #27
@erfg12 Do you have some contact info, skype, discord, what ever? Really like your project and would like to help.

[2020-05-14 22:58] erfg12 commented on #27
NeWaGe#1451

[2020-05-15 22:08] Doc-Saintly opened #28 "Non-Overlay possible?"
Is it possible to make some UI components that are not click-through? For example, most of the UI I want to be an overlay, but I also want to add a text box for typing or buttons for clicking.

[2020-05-30 00:56] ProBun commented on #24
Anyone manage to get it working?

[2020-08-14 00:21] jaku opened #29 "License?"
Could you add a license to this project?

[2020-08-14 03:46] lolp1 commented on #29
@jaku I intended to monetize it one day through a 6 month license model with provided support etc. Not sure if/when I ever will, but that is why I did not insert a license. If you want to use this version or something made from this version on your own, for free in something for-profit, I am glad to issue a single-use license suited to you for that purpose directly. Just reply how to contact you i

[2020-08-14 06:13] jaku commented on #29
Sure, please contact me at at jaku@warp.world.

[2020-08-15 17:04] #29 closed, assigned to nobody

[2021-03-14 15:38] ghost opened #30 "Colors are shifted"
when i'm creating new brush like this:
_ChocolateBrush = OverlayWindow.Graphics.CreateBrush(Color.Chocolate);
it is just white... any ideas?

[2021-03-14 15:51] ghost commented on #30
use this to fix it
https://github.com/lolp1/Overlay.NET/issues/26

[2021-07-09 18:29] tcomben commented on #24
I hope this helps someone. I had to build the Overlay.NET source code and create a nuget package from the code in this repo. I think for some reason the latest nuget package doesn't contain the Update() method, but it's in the source.

I followed these instructions on creating the nuget:
https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio-net-framewor

[2021-07-10 00:42] lolp1 commented on #24
@tcomben This looks really cool and intend to look at it tonight, and let you know what I think!

[2021-07-26 17:39] HelloKitty opened #31 "The handle of the parent window isn't valid"
Demo code works fine when run in a console application but when I try to copy the demo code into another application, specifically Unity3D for testing, it fails to create the overlay on the target process which is another DirectX application.

However it doesn't make sense why this would occur as there is no other error and the process name provided is identitical to what is used in the Demo.

[2021-07-26 18:02] HelloKitty commented on #31
Possiblity a Unity3D/Mono issue. MainWindowHandles seem to always be 0 https://www.reddit.com/r/Unity3D/comments/6zrin4/processmainwindowhandle_is_always_0/

[2021-07-28 03:09] HelloKitty commented on #31
Forking Process.NET and managing MainWindowHandle manaully solved the issue.

[2021-07-28 03:46] HelloKitty commented on #18
@lolp1 Same email still?

[2021-12-06 15:34] GamingVideo opened #32 "Windows forms"
Any example on how to add it to a windows forms? I tried and i failed multiple times appreciate if could get an example.

[2022-07-12 21:33] leandro-rc opened #33 "Toggle input"
Hi, this is a great piece of work, man! Nice and simple and very easy to use. One thing I'd like to be able to do is toggle the input when the DirectX is attached. I'm trying to overlay Reshade over the desktop by hooking it to your lib, which in turn is hooked to a dummy app. The problem is that I can't relay the command to display Reshade UI (or change the values for that matter).
Any idea how I